# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore temporary files
tmp
*.tmp

# Ignore build directories
dist
build

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore git files
.git
.gitignore
